#include <windows.h>
#include "resource.h"
 
IDI_APP_ICON ICON DISCARDABLE "resources\\explosion.ico"
DLG_LOGO BITMAP DISCARDABLE "resources\\logo.bmp"


DLG_MAIN DIALOGEX 0, 0, 357, 189
STYLE DS_FIXEDSYS | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION
EXSTYLE WS_EX_APPWINDOW
CAPTION "A simple launcher"
FONT 8, "MS Shell Dlg"
{
   CONTROL "&Start game", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 260, 163, 90, 19 
   CONTROL "&Cancel", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 165, 163, 90, 19 
   CONTROL DLG_LOGO, -1, STATIC, SS_BITMAP | SS_REALSIZEIMAGE | WS_CHILD | WS_VISIBLE, 7, 7, 343, 98 
   CONTROL "Full screen", 1000, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 165, 84, 10 
}